.body {
    width: 210mm;
    /* height: 297mm; */
    background-color: white;
    padding: 20px;
    border: 1px solid #ada8a8;
    margin: 0 auto;
}

.header {
    display: flex;
    position: relative;
    border-bottom: 1px solid #ada8a8;
    margin: 0 -20px;
}

.header__img {
    max-width: 170px;
    max-height: 170px;
    overflow: hidden;
    margin-left: 40px;
    border-radius: 50%;
}

.header__container {
    margin: 25px 12%;
}

.header__heading {
    font-size: 35.5px;
    font-weight: 600;
}

.text {
    color: #6a6161;
    font-family: Arial, 'Narrow', sans-serif;
    margin: 0;
}

.header__profession {
    font-size: 31px;
    font-weight: 300;
    line-height: 56px;
}

.header__list {
    list-style-type: none;
    margin: 12px 0 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.header__info {
    text-align: center;
    background-color: #ae8db1;
    color: white;
    padding: 7px 15px;
    border-radius: 16px;
    font-weight: 100;
    font-family: sans-serif;
    margin: 0 10px;
}

.header__info:first-child {
    margin-left: 0;
}

.main {
    display: grid;
    grid-template-columns: 30% auto;
}

.contacts {
    padding: 20px 0;
    border-right: 0.5px solid #ada8a8;
    padding-right: 20px;
    grid-row: 1 / 2;
}

.contacts__text {
    line-height: 29px;
    font-family: sans-serif;
    color: grey;
    font-size: 14px;
    padding-left: 1px;
}

.contacts__text:nth-child(even) {
    color: white;
    background-color: #ad85b1;
}

.contacts__text_bold {
    font-weight: 600;
}

.contacts__link {
    transition: opacity 0.6s ease;
    text-decoration: none;
}

.flex__container {
    display: flex;
}
.project__link {
    transition: opacity 0.6s ease;
    text-decoration: none;
    font-family: sans-serif;
    color: grey;
    font-size: 12px;
    display: block;
    margin: 3px 0 3px 10px;
    font-size: 12px;
}

.project__link:hover {
    opacity: 0.7;
}

.contacts__link_color {
    color: white;
}
.contacts__link:hover {
    opacity: 0.7;
}

.projects {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.project {
    padding-bottom: 10px;
}

.portfolio {
    margin-top: 10px;
    grid-row: 1 / 4;
    border-bottom: 0.5px solid #ada8a8;
    margin-right: -20px;
    padding-right: 20px;
}

.portfolio__title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    color: #ad85b1;
}

.project__stack {
    font-size: 12px;
    margin: 0;
    padding-top: 3px;
    margin-left: 2px;
}

.project__stack_bold {
    font-weight: 600;
    color: grey;
}

.project__title {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
}

.project__text {
    font-size: 13px;
    /* margin-top: 8px; */
    align-items: center;
    display: flex;
}

.project__list {
    list-style-type: none;
    padding-left: 10px;
    margin-top: 8px;
}

.project__paragraph {
    font-size: 12px;
    padding-top: 8px;
}

.tehnology {
    border-top: 0.5px solid #ada8a8;
    border-right: 0.5px solid #ada8a8;
    border-bottom: 0.5px solid #ada8a8;
    padding: 20px;
    margin-left: -20px;
}

.tehnology__title {
    font-size: 16px;
    margin-bottom: 10px;
    color: #ad85b1;
}

.tehnology__text {
    font-size: 13px;
    font-weight: 600;
    color: #a59797;
    padding: 3px;
}

.tehnology__text:nth-child(even) {
    background-color: #ad85b1;
    color: white;
}

.aboutMe {
    border-right: 0.5px solid #ada8a8;
    border-bottom: 0.5px solid #ada8a8;
    padding: 10px;
    margin-left: -20px;
}

.aboutMe__text {
    font-size: 10px;
    /* font-weight: 600; */
    text-indent: 5px;
    padding-top: 5px;
}

.aboutMe__list {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-weight: 600;
}

.expirience {
    margin-top: 40px;
    
}

.expirience__title {
    font-size: 20px;
    margin-bottom: 15px;
    color: #ad85b1;
    /* border-top: 0.5px solid #ada8a8; */
}

.expirience__table {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 25px
}

.exp__text {
    grid-column: 1 / 2;
    font-size: 12px;
    padding-top: 8px;
}

.exp__title {
    font-size: 15px;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.exp__paragrapf {
    grid-column: 2 / 3;
    font-size: 13px;
    padding-top: 8px;
}

.exp__subtitle {
    grid-column: 2 / 3;
    font-size: 13px;
    padding-top: 8px;
    font-weight: 600;
}